:root {
  font-family: 'Outfit', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  /* Use 100% here, let App.vue handle the dvh lock */
  height: 100%; 
  overflow: hidden; 
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

